/* ⭐ PART I ROOT */

:root {
/* fonts */
--main-font: "Roboto", sans-serif;
--logo-font: "Raleway", sans-serif;

/* colors */
--accent-main-color: #4d5ae5;  
--accent-second-color: #404bbf;
--auxiliary-one-color: #31d0aa;
--servo-first-color: #f4f4fd;
--servo-second-color: #8e8f99;
--servo-third-color: #e7e9fc;
--dark-main-color: #2e2f42;
--dark-second-color: #434455;
--light-main-color: #ffffff;
--light-second-color: #f4f4fd;
--accent-main-color: #4d5ae5;  

/* other */
/_ --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ⭐ PART II GLOBAL & HIDDEN */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ⭐ PART III SECTION & CONTAINER   */

.container {
  width: 1158px;
  /* TODO: max-width:  */
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

  outline: 1px solid lightskyblue;
  outline-offset: -1px;
}

.header__container {
  display: flex;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* ⭐ PART IV TYPOGRAPHY   */

.logo {
  margin-right: 76px;

  padding: 25px 0;

  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color:var(--accent-main-color);

}

/* .logo--color-part {
  color: var(--accent-main-color);
} */

.logo--dark-part {
  color: #2e2f42;
}

.logo--light-part {
  color: #f4f4fd;
}

.header__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2e2f42;

  display: block;
  padding: 24px 0;
}

/* .header_list_item {
  padding: 24px 0;
} */

.header__link:hover,
.header__link:focus {
  color: #404bbf;
}

.header__address {
  margin-left: auto;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;

  color: #434455;
}

.header__address-item {
  display: block;
  padding: 24px;
}

.header__address:hover,
.header__address:focus {
  color: #404bbf;
}

.hero-title {
  padding-top: 188px;
  padding-bottom: 40px;

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #ffffff;

  text-align: center;
}

.two_title {
  font-size: 36px;

  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;

  text-align: center;
}

.three_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;

  text-align: center;
}

.three_title_benefits {
  text-align: left;
}

.body-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.body-text--light {
  color: #f4f4fd;
}

/* ⭐ PART IV BUTTONS   */

.button {
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 188px;

  /* font-family: "Roboto", sans-serif; */
  font-family: inherit;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}


/*
  |==============================
  | HEADER ☘
  |==============================
*/

.header__navigation {

}

.header__pagination {

}

.header__pagination-item {

}

.header__address {

}

.header__address-item {

}








/* ⭐ PART V SECTION & CONTAINER  */

.hero,
.footer {
  background-color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}



.flex {
  display: flex;
}

.header__list {
  display: flex;

  gap: 40px;
}

.header__navigation {
  display: flex;
  align-items: center;
}

/* ⭐ PART VI OTHER   */

.team__item {
  background-color: #ffffff;
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}

.team__item:last-child {
  margin-right: 0;
}



.benefits__container {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
}

.team__container {
  display: flex;
  justify-content: center;
}
